html, body {
  background-color: black;
}

.home-div {
  background-color: black;
  text-align: center;
}

.heading {
  color: aqua;
  text-align: center;
  font-size: 40px;
}

.img {
  width: 20%;
  height: 30%;
}


/* Style for buttons */
.btn-custom {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 20px; /* Grey outline */
  font-size: larger;
  color: aqua; /* Blue text */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.btn-custom-sub {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 20px; /* Grey outline */
  color: aqua; /* Blue text */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Position the buttons */
.button-container {
  display: flex;
  justify-content:space-between; /* Space between buttons */
  padding-top: 2%;
}

.btn-custom.control-button {
  margin-left: 30px; /* Adjust this value as needed */
}

.additional-buttons {
  padding-top: 2%;
}

.input-container {
  display: flex;
  padding-top: 2%;
  padding-bottom: 1%;
  justify-content: space-between;
  width: 100%;
  max-width: 400px; /* Adjust this value as needed */
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5%; /* Adjust the spacing between input groups */
  margin-left: 45%;
}

.para {
  margin-bottom: 5px;
  color: aqua;
}

/* App.css */

.monitor-container {
  display: flex;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5%px;
}

.monitor-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.gauge-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.gauge {
  padding: 2%;
  text-align: center; /* Add spacing between gauges */
}

.limit-text-container {
  text-align: center;
}

.limit-text {
  font-size: 18px;
  color: red;
}


.input {
  padding: 8px;
  border-radius: 10px;
}

.compare-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.compare-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.comparison-text {
  color: aqua;
  font-size: larger;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5%; /* Adjust as needed */
}

.container {
  display: flex;
  align-content: center;
}

.tank {
  width: 150px;
  height: 200px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
}

.switchStyles {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  padding-top: 2%;
  padding-bottom: 2%;
}

.fill {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blue;
  border-radius: 8px;
  transition: height 0.4s; /* Adjust the transition duration as needed */
}


                         /* SHOWER */

.toggle-container {
  display: flex;
  padding-top: 2%;
  flex-direction: column;
  align-items: center;
}

.toggle-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-top: 1.5%;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

/* Hide the default checkbox input */
.toggle-label input {
  display: none;
}

/* Style the slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
                                 
/* Style the slider's background when in the "On" state */
.toggle-label input:checked + .toggle-slider {
  background-color: #2196F3;
}

/* Style the slider's circle knob */
.toggle-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.react-switch {
  margin-left: 10px;
}

/* Move the circle knob to the "On" position */
.toggle-label input:checked + .toggle-slider:before {
  transform: translateX(26px);
}



